.project {
    width: 89.1%;
    margin: 0 auto;
}

.project__descriptions {
    margin: 70px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__description {
    flex-direction: column;
}

.project__title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.project__text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-top: 26px;
    max-width: 490px;
}

.project__grid {
    margin: 100px 0;
    display: grid;
    grid-template-rows: repeat(2, 36px);
    grid-template-columns: 1fr 4fr;
}

.project__back {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 6px 0 0;
    margin: 0;
}

.project__front {
    background-color: #F2F2F2;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 6px 0 0;
    margin: 0;
}

.project__announcement {
    color: #A0A0A0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .project {
        width: 86.98%;
    }
}

@media screen and (max-width: 320px) {
    .project {
        width: 88.75%;
    }

    .project__grid {
        margin-bottom: 30px;
    }

    .project__descriptions {
        margin-top: 0;
        flex-direction: column;
    }

    .project__description {
        margin-top: 60px;
    }

    .project__title {
        font-size: 18px;
    }

    .project__text {
        margin-top: 16px;
        font-size: 11px;
        line-height: 16px;
    }

    .project__grid {
        margin: 60px 0;
        grid-template-rows: repeat(2, 35px);
        grid-template-columns: 1fr 2fr;
    }
    
    .project__back {
        font-size: 11px;
        line-height: 13px;
        padding-top: 11px;
    }
    
    .project__front {
        font-size: 11px;
        line-height: 13px;
        padding-top: 11px;
    }
    
    .project__announcement {
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
    }
}