.promo {
    width: 93.75%;
    height: 493px;
    /*padding-top: 160px;*/
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.promo__title {
    max-width: 730px;
    padding: 0;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #000;
}

@media screen and (max-width: 768px) {
    .promo {
        width: 94.79%;
        height: 834px;
    }
}

@media screen and (max-width: 320px) {
    .promo {
        width: 91.25%;
        height: 586px;
        margin-top: 35px;
        border-radius: 10px;
    }

    .promo__title {
        width: 100%;
        font-size: 29px;
        line-height: 37px;
        letter-spacing: -1px;
    }
}