.form {
    width: 89.1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto 0;
    padding: 0 0 85px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.form__search {
    width: 932px;
    height: 46px;
    border-radius: 30px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__input {
    margin: 0 0 0 21px;
    border: none;
}

.form__button {
    width: 34px;
    height: 34px;
    margin: 6px 5px 5px;
    border: none;
    border-radius: 50%;
    background: url(../../../images/search.svg) center no-repeat #000;
}

.shortmovies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shortmovies__title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.shortmovies__button {
    width: 34px;
    height: 14px;
    margin: 15px 0 0 16px;
    border: none;
    border-radius: 10px;
    background: url(../../../images/tumbler.svg) 90% 50% no-repeat #2BE080;
}

@media screen and (max-width: 768px) {
    .form {
        width: 92.18%;
        flex-direction: column;
        padding-bottom: 45px;
        margin-top: 85px;
    }

    .form__search {
        width: 100%;
    }

    .shortmovies {
        margin-top: 22px;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .form {
        font-size: 18px;
        margin-top: 70px;
        padding-bottom: 33px;
    }

    .form__search {
        height: 48px;
    }

    .form__input::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        padding: 13.5px 0 18.5px;
    }

    .shortmovies {
        margin-top: 33px;
    }

    .shortmovies__title {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
    }
}